<!DOCTYPE html>

　　<html>

　　<head>

　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />

　　　　<title>{{ page.title }}</title>
	   <link rel="stylesheet" href="../js/prettify/prettify.css" />
	   <script type="text/javascript"  src="../js/jquery-1.8.3.js"></script>
	   <script type="text/javascript"  src="../js/prettify/prettify.js"></script>
	   <script type="text/javascript">
 			$('pre').addClass('prettyprint linenums') //添加Google code Hight需要的class
 			$.getScript('../js/prettify/prettify.js',function(){prettyPrint()});
</script>

　　</head>

　　<body>

　　　　{{ content }}

　　</body>

　　</html>